In [1]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv("filled_data.csv")

In [11]:
df.head()

   Unnamed: 0    country        date  daily_vaccinations   vaccines
0           0  Argentina  12/29/2020              6483.0  Sputnik V
1           1  Argentina  12/30/2020             15656.0  Sputnik V
2           2  Argentina  12/31/2020             15656.0  Sputnik V
3           3  Argentina    1/1/2021             11070.0  Sputnik V
4           4  Argentina    1/2/2021              8776.0  Sputnik V

In [12]:
df.drop(["Unnamed: 0"], axis=1, inplace=True)

In [14]:
df

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,6483.0,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [16]:
df.groupby(pd.Grouper(key='date')).sum()

            daily_vaccinations
date
12/29/2020            761576.0
12/30/2020            836134.0
12/31/2020            874541.0
1/1/2021              937426.0
1/2/2021             1014630.0
1/3/2021             1070392.0
1/4/2021             1225923.0
1/5/2021             1363842.0
1/6/2021             1485255.0
1/7/2021             1636630.0
1/8/2021             1758746.0
1/9/2021             1844454.0
1/10/2021            1927589.0
1/11/2021            1981736.0
1/12/2021            2001262.0
1/13/2021            2195834.0
1/14/2021            2558868.0
1/15/2021            2871342.0
1/16/2021            2963700.0
1/17/2021            2944891.0
1/18/2021            3067223.0
1/19/2021            3279650.0
1/20/2021            3341204.0
1/21/2021            2683719.0
1/22/2021            2772300.0
1/23/2021            2918389.0
1/24/2021            3005078.0
1/25/2021            2137679.0
12/23/2020            484876.0
12/24/2020            554683.0
12/25/2020            586905.0
12/26/2020            609813.0
12/27/2020            642026.0
12/28/2020            683179.0
12/14/2020             10663.0
12/15/2020            201520.0
12/16/2020            202347.0
12/17/2020            202955.0
12/18/2020            203234.0
12/19/2020            209860.0
12/20/2020            351864.0
12/21/2020            360097.0
12/22/2020            438915.0
12/13/2020              6373.0